<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/dist/vendors.css' /> -->
    <!-- Librerías de Terceros-->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='/dist/main.css' />
    <script>
      const STATIC_URL = '/';
      const BASE_URL = 'http://localhost:3000/';
      const CSRF_KEY = 'key'; 
      const CSRF = 'alsdjflkadsjflkasdjflk';
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/">Index</a>
    <a href="/user/create">Crear</a>
    <a href="/user/edit/2?foo=demo">Editar</a>
    <a href="/autocomplete">Autocompletar</a>
    <a href="/login">Login</a>
    <br>
    <br>
    <div id="workspace"></div>
    <script src="/dist/vendors.js"></script>
    <script src="/dist/main.js"></script>
  </body>
</html>
