.hint-container{ 
  position: absolute;
  position: absolute;
  z-index: 10;
  background: white;
  width: 89.5%;
  list-style-type: none;
  padding-left: 12px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 0px solid #ccc;
  width: 100%;
}
.hint-container > li > label { 
  width: 88.5%;
}
.hint-container > li > label:hover {
  cursor: pointer;
  background: #FAFAFA;
  width: 98%;
}
.hint:hover{
  cursor: pointer;
}
