nav li:hover {
  background: #444;
}

nav li:hover a {
  color: #fff;
}

.menu-sub {
  position: absolute;
  left: 0;
  background: #444;
  width: 100%;
  display: none;
  color: #fff;
  padding: 2em;
  transition: 3s;
}

nav li:hover .menu-sub {
  display: block;
  opacity: 1;
}

.menu-sub li {
  display: block;
}

.menu-sub a {
  padding: 0;
  margin-bottom: .35em;
}

.menu-sub a:hover {
  text-decoration: underline;
}

.menu-category {
  margin: 2.5em 0 .5em;
}

.menu-category:first-of-type {
  margin-top: 0;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
}

.menu-col-1 {
  width: 25%;
}

.menu-col-2 {
  width: 50%;
}

menu{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
}

.menu-top{
  top: 64px;
}