/*
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*
  background: #343434;
  color: #FDFDFD;
  */
}

html {
  font-size:0.75rem !important;
}

a {
  color: #00B7FF;
}

#workspace{
  padding: 20px;
}